body{
    background-color: #ede3e3;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 20px;
}
.navbar-logo{
    height: 60px;
}
.navbar-logo img{
    height: 50px;
    border-radius: 7px;
}

.navbar p{
    font-family: 'Roboto Slab', serif;
}

#hire{
    padding-right: 20px;
    border: solid;
}

#home{
    border: solid;
}

#portfolio{
    border: solid;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
}