body{
    background-color: #ede3e3;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 20px;
}
.navbar-logo{
    height: 60px;
}
.navbar-logo img{
    height: 50px;
    border-radius: 7px;
}

.navbar p{
    font-family: 'Roboto Slab', serif;
}

#hire{
    padding-right: 20px;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
}
.experience{
    border: solid;
}
.intro{
    border: solid;
    margin-top: 0px;
}
.wavy{
    width: 350px;
    border: solid;
    margin-bottom: -150px;
}
.experience{
    display: flex;
    gap: 150px;
}

#emergency_logo{
    background-color: black;
    border-radius: 120px;
    width: 50px;
    height: 50px;
    margin-top: 140px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.urgent-samples p{
    color: white;
    margin-top: 143px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 0;
    background-color:orangered;
    font-family: 'Roboto Slab', serif;
    border-radius: 25px;
    border: orangered 1px solid;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.urgent-samples{
    display: flex;
}