*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
}
.Sans-font-family{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: left, bottom right;
    background-size: 85px auto, auto;
    padding-top: 50px;
}
nav{
    display: flex;
    width: 73%;
    max-width: 1220px;
    justify-content: space-between;
    margin: 0 auto;
    align-items:center;
}
nav ul{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.logo h2{
    font-size: 45px;
    font-weight: ExtraBold;
}
.orange-color{
    color:#FD6E0A;
}

/* Orange Button here */
.orange-button{
    border: none;
    background-color:#FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: Bold;
    padding: 19px 35px;
    border-radius: 5px;
}
#banner{
    margin-top: 46px;
    margin-right: 38px;
    margin-left: 230px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 700px;
}
.banner-content h2{
    margin-bottom: 5px;
    font-size: 45px;
    Font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    Font-weight: 700;
    color: black;
}
.banner-content p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contacts{
    display: flex;
    gap: 30px;
}
.banner-image{
    width: auto;
    height: 660px;
    vertical-align: middle;
}
#about{
    margin: 130px 230px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    max-width: 1140px;
    
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-container .about-description{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}
.about-container h2{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.about-cards{
    display: flex;
    justify-content: space-around;
    gap:60px;
}
#about .about-container .about-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-card p{
    font-size:20px;
    color: #757575;
}





